<!DOCTYPE html>
<html lang="es">

     <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CaC-Movies, películas y series online</title>
        <link rel="stylesheet" href="#">
        <!--zona del favicon-->
        <link rel="icon" href="../favicon.ico" type="image/x-icon">
        <!-- zona de scrip para activar íconos -->
        <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
        <!--diseño de la barra de navegación -->
          <nav>
            <a href="../index.html"><i class="fa-solid fa-film"></i>CaC-Movies</a>
          </nav>
        </header>

        <main>
           <!--Formulario--> 
           <section id="form-wrapper">
            <form action="a" method="post" novalidate id="form-register">
                <h2>Registro</h2>
                <!--campos-->
                <div class="form-control">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" required id="name">
                </div>
                <div class="form-control">
                    <label for="last-name">Apellido</label>
                    <input type="text" name="last-name" required id="last-name">
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" required id="email">
                </div>
                <div class="form-control">
                    <label for="passw">Constraseña</label>
                    <input type="password" name="passw" required id="passw">
                </div>
                <div class="form-control">
                    <label for="date">Fecha de nacimiento</label>
                    <input type="date" name="date" required id="date">
                </div>
                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UR">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>
                <!--Checkbox-->
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label>Acepto términos y condiciones</label>
                    </div>
                </div>
                <!--Botón de acción-->
                <button type="submit"><i class="fa-solid fa-film"></i>&nbsp;Registrarte</button>
                <button type="reset">Borrar todo</button>
                <!--Zona de ayuda-->
                <div class="form-help">
                    <a href="a">¿Necesitás ayuda?</a>
                </div>

            </form>
           </section>
        </main>

        <footer>
            <a href="#">Términos y condiciones</a>
            <a href="#">Preguntas frecuentes</a>
            <a href="#">Ayuda</a>
            <a href="#">Administrador de películas</a>
         </footer>

    </body>

</html>